<div class="dashboard-container">
  <div class="dashboard-card">
    <div class="card-header">
      <h2>{{ authService.currentUser()?.Name }} {{ authService.currentUser()?.Surname }}</h2>
      <p class="current-date">
        {{ today | date:'d MMMM y, EEEE' }}
      </p>
    </div>

    @if (message) {
    <div class="alert" [class.success]="isSuccess" [class.error]="!isSuccess">
      <i class="bi" [class.bi-check-circle-fill]="isSuccess" [class.bi-exclamation-circle-fill]="!isSuccess"></i>
      <span>{{ message }}</span>
    </div>
    }
    @if (summary()) {
    <div class="summary-box">
      <div class="remaining-time">
        <span class="label">Bugün Kalan Mesai</span>
        <span class="value">{{ summary()?.RemainingTimeText }}</span>
      </div>
    </div>
    }

    <div class="actions-container">
      <button class="action-btn check-in" (click)="onCheckIn()" [disabled]="isProcessing">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Mesai başlat</span>
      </button>

      <button class="action-btn check-out" (click)="onCheckOut()" [disabled]="isProcessing">
        <i class="bi bi-box-arrow-left"></i>
        <span>Mesai bitir</span>
      </button>
    </div>

    @if (isProcessing) {
    <div class="loading">
      <div class="spinner"></div>
      <p>İşlem yapılıyor...</p>
    </div>
    }
  </div>
</div>